

.main{
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 30px;
    border-bottom: 3px solid black;
    justify-content: space-between;
    align-items: center;
}

#clear-btn {
    height: 55px;
    width: 110px;
    background-color: red;
    font-weight: bold;
    color: white;
}
.book-container{

    border: 2px solid black;
    background-color: rgb(255, 173, 144);
    height: auto;
    min-height: 600px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 80px; */
    padding: 30px 30px;
    margin-left: auto;
    margin-right: auto;
}

#new-book-btn {
    width: 200px;
    height: 50px;
    margin: 30px auto 30px auto;
}

.book-card {
    border: 1px solid black;
    border-radius: 15px;
    height: 250px;
    width: 185px;
    margin: 15px 15px;
    background-color: cadetblue;


    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    justify-content: space-around;
    align-items: center;
}

.book-modifications > button{
    margin: 0px 9px;
}

.modal{
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: 300ms ease-in;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 10;
    background-color: rgb(127, 225, 255);
    width: 800px;
    max-width: 70%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 300ms ease-in;

}

.modal-header .close-btn{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.modal-content{
    padding: 10px 10px;
    text-align: center;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 300ms ease-in;

}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#book-form > ul {
    padding: 0px;
    height: 80%;
}

li {
    list-style-type: none;
    display: block;
    padding: 20px 20px;
    margin: 0px;
    height: 20px;

}